@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Welcome to Sweet & Savory Bakery</h1>

<hr>
@if (User.Identity.IsAuthenticated)
{
  <h4>Treats for @User.Identity.Name</h4>
  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added yet.</p>
  } 
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>@Html.ActionLink(@treat.Kind, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
  </ul>
}
else
{
  <h4>Treats</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to manage the treats.</p>
}

<hr>
@if (User.Identity.IsAuthenticated)
{
  <h4>Flavors for @User.Identity.Name</h4>
  @if (Model["flavors"].Length == 0)
  {
    <p>No flavors have been added yet.</p>
  } 
  <ul>
    @foreach (Flavor flavor in Model["flavors"])
    {
      <li>@Html.ActionLink(@flavor.Type, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
    }
  </ul>
}
else
{
  <h4>Flavors</h4>

  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to manage the flavors.</p>
}

<hr>
@if (User.Identity.IsAuthenticated)
{
  <h4>Orders for @User.Identity.Name</h4>
  @if (Model["orders"].Length == 0)
  {
    <p>No orders have been added yet.</p>
  } 
  <ul>
    @foreach (Order order in Model["orders"])
    {
      <li>@Html.ActionLink(@order.Customer, "Details", "Orders", new { id = @order.OrderId})</li>
    }
  </ul>
}
else
{
  <h4>Orders</h4>

  <p>You must @Html.ActionLink("log in", "LogIn", "Account") to manage or place any orders.</p>
}


<p>@Html.ActionLink("View Bakery Treats", "Index", "Treats") | @Html.ActionLink("View Bakery Flavors", "Index", "Flavors") | @Html.ActionLink("View Account Orders", "Index", "Orders")</p>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>