@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Bakery.Models
@model Bakery.Models.Order

<h2>Order Details</h2>
<hr />
<h3>Bakery Order Details: @Html.DisplayFor(model => model.Customer)</h3>

@if (@Model.JoinOrderTreat.Count == 0)
{
  <p>No orders have been placed yet for this treat.</p>
}
else
{
  <h4>This order has been placed for the following treats:</h4>
  <ul>
  @foreach (OrderTreat join in Model.JoinOrderTreat)
    {
      <li>Treat: @join.Treat.Kind</li>
      @using (Html.BeginForm("DeleteOrderTreatJoin", "Treats"))
      {
        @Html.Hidden("joinId", @join.OrderTreatId)
        <input type="submit" class="button" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Order", "Edit", new { id = Model.OrderId }) | @Html.ActionLink("Delete Order", "Delete", new { id = Model.OrderId }) | @Html.ActionLink("Add a treat", "AddTreat", new {
  id = Model.OrderId }) | @Html.ActionLink("Home", "Index", "Home")</p>