@{
  Layout = "_Layout";
}

@model Bakery.Models.Order

<h2>Select an Order to add a kind of Treat to:</h2>

<h4>Add an order to this treat: @Html.DisplayFor(model => model.Kind)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select order")
    @Html.DropDownList("OrderId")

    <input type="submit" class="button" value="Save" />
}

<p> @Html.ActionLink("Home", "Index", "Home")</p>