@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Bakery.Models
@model Bakery.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Kind of Treat: @Html.DisplayFor(model => model.Kind)</h3>

@if (@Model.JoinFlavorTreat.Count == 0)
{
  <p>No flavors have been listed for this treat yet!</p>
}
else
{
  <h4>This treat has the following flavors:</h4>
  <ul>
  @foreach (FlavorTreat join in Model.JoinFlavorTreat)
    {
      <li>Flavor: @join.Flavor.Type</li>
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" class="button" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }) | @Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }) | @Html.ActionLink("Add a Flavor", "AddTreat", new {
  id = Model.TreatId })</p>